<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.d.common.loader">

    <application>
        <activity android:name="com.d.common.loader.activity.LoaderActivity" />
        <activity android:name="com.d.common.loader.activity.PagerActivity" />
    </application>
</manifest>
